.wrapper {
    width: 80%;
    height: 100vh;
    margin:0 auto;
    padding: 10px 0;
    box-sizing: border-box;
    display: flex;

}
.users{
    width: 50%;
    border-right: 1px black solid;
}
.nameDropZone{
    display: flex;
    align-items: center;
    justify-content: center;

}
.mentors{
    width: 50%;
}
.panelContainer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 -40px;
}